@model ProductCartViewModel

@{
    string productImagePlaceholder = @"https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png";
}
<div class="container">
    <div class="card">
        <h5 class="card-header">Info Product</h5>
        <div id="carousel-@Model.Product.Id" class="carousel carousel-dark slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active product-card-img" data-bs-interval="10000">
                    <img src="@(Model.Product.ImagePath??productImagePlaceholder)" class="d-block w-100 h-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@Model.Product.Id" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-@Model.Product.Id" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="card-body">
            <h5 class="card-title">@Model.Product.Name</h5>
            <p class="card-text">@Model.Product.Description</p>
            <p class="card-text">Category:<strong> @Model.Product.CategoryName</strong> </p>
            <p class="fw-bold">Price <span class="badge bg-primary">@string.Format("{0:N}",Model.Product.Price) ₴</span></p>
            @if (ViewBag.ReturnUrl == null)
            {
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Back</a>
            }
            else
            {
                <a href="@ViewBag.ReturnUrl" class="btn btn-primary">Go to Back</a>

            }
            @if (@User.IsInRole("Admin"))
            {
                <a asp-controller="Product" asp-action="Delete" asp-route-id=@Model.Product.Id class="btn btn-danger">Delete</a>
            }


            @if (Model.StorageQuantity < 1)
            {
                <button type="button" class="btn btn-secondary" disabled>Out of Stock</button>

            }
            else if (!Model.IsInCart) 
            {
                <a asp-controller="Cart" asp-action="Add" asp-route-id=@Model.Product.Id class="btn btn-danger">Add To Cart</a>
            }
            else
            {
                <a asp-controller="Cart" asp-action="Remove" asp-route-id=@Model.Product.Id class="btn btn-secondary">Delete From Cart</a>
            }


        </div>
    </div>
</div>